@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

/* link {
    display: none;
} */

body {
    background: linear-gradient(90deg, #1d77cc 0%, #88c5fd 100%);
    font-family: Michroma, serif;
}
/* .help-you {
    color: black;
} */
.nav-link {
    color: rgb(0, 190, 190);
}
.navbar-nav .nav-link.active {
    color: aqua;
}
.navbar-brand img {
    width: 60px;
    padding-bottom: 1px;
}
.navbar-toggler {
    color: aqua;
    background-color: rgb(0, 190, 190);
}
.btn.btn-primary {
    color: rgb(0, 0, 0);
    background-color: aqua;
    /* box-shadow: 0px -1px 10px 2px #000 inset; */

}
.card,
.btn-outline-primary  {
    text-align: center;
    background: linear-gradient(90deg, #bbdcfa 0%, #88c5fd 100%);
}
.sidebar {
    color: rgb(0, 0, 0);
    background: linear-gradient(270deg, #bbdcfa 0%, #88c5fd 100%);

}
.card a {
    text-decoration: none;
    color: black;
}
.slide-text,
.footer-text {
    margin: auto auto;
}

footer {
    background-color: black;
    color: aqua;
    /* margin-top: 25px; */
}
.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}
