p {
    font-size: 24px;
    background-color: rgb(247, 148, 83);
}
.conteiner {
    margin: 20px;
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    background-color: rgb(163, 135, 135);
}
.main {
    text-align: center;
}
.conteiner>img {
    max-width: 300px;
}