body {
    margin: 0;
    padding: 0;
}


span {
    font-style: italic;
}
/* контент */

.list-conteiner {
    border-style: solid;
    display: inline-block;
    border-width: 0.5px;
    padding-right: 20px;
}   

.list-conteiner>h3 {
    text-align: center;
    font-weight: bold;
}
.img-conteiner {
    float: right;
    padding: 5px;
    border-style: solid;
    border-width: 0.5px;
    margin-left: 20px;
}
.img-conteiner>div {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
.logo-html5 {
    max-width: 80px;
}
.text-page {
    padding-left: 1em;
}

/* верхняя нав. панель */

.nav-conteiner {
    display: flex;
    justify-content: space-between;
    background-color: rgb(187, 228, 255);

}
.nav-conteiner>nav>ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav-conteiner>nav>ul>li>a {
    display: block;
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
}




@media (max-width: 900px) {
    .nav-conteiner {
        flex-direction: column;
    }
}

/* боковая панель */

.page {
    display: flex;
    justify-content: center;
}

.header {
    width: 14%;
    background-color: rgb(228, 255, 255);
}

.section {
    width: 82%;
}

.header>ol {
    list-style: none;
    border-bottom-style: solid;
    border-width: 0.5px;
    margin: 10px;
    padding: 0;
    padding-bottom: 10px;
}

.header>div {
    width: 100%;
}

.header>div>img {
    width: 100%;
}