.navbar {
    display: flex;
    background-color: rgb(0, 238, 255);
}
.nav-list {
    display: flex;
}
.nav-list a {
    display: block;
    padding: 1em;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-list a:hover {
    background-color: rgb(99, 203, 230);
}
.nav-btn {
    display: none;
    margin-top: 5px;
}

@media (max-width: 1000px) {
    .nav-btn {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border: none;
        background-color: rgb(0, 238, 255);
        color: rgb(0, 0, 0);
        display: block;
        cursor: pointer;
    }
    .nav-list {
        display: none;
    }
    .nav-btn:hover {
        background-color: rgb(99, 203, 230);
    }
    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: aqua;
    }
    .navbar {
        justify-content: space-between;
    }
}
.logo {
    display: block;
    width: 55px;
    margin: 0.5em;
}